.blearui-prompt {
  font-size: 16px;
  padding: 20px;
  min-height: 100px; }
  .blearui-prompt-message {
    margin-bottom: 10px;
    line-height: 26px; }
  .blearui-prompt-ipt {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    padding: 6px;
    outline: 0; }
    .blearui-prompt-ipt:focus {
      border-color: #0097ff; }
